.price {
    min-height: 462px;
    .container {
        padding-top: 53px;
        padding-bottom: 0;
    }
    .title {
        margin-bottom: 0;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        color: #2e2e2e;
        line-height: 26px;
        text-transform: uppercase;
    }
    .hr {
        background-color: $main-color;
        width: 20%;
        height: 1px;
        margin: 20px auto 17px auto;
    }
    .descr {
        width: 880px;
        margin: 0 auto;
        font-size: 21px;
        font-weight: 300;
        line-height: 1.14;
        text-align: center;
        color: #2e2e2e;
        padding-bottom: 37px;
    }
    &_title {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        padding: 24px 0 22px 0;
        background-color: #25333c;
        text-transform: uppercase;
    }
    &_icon {
        display: block;
        margin: 0 auto;
        padding: 14px 0 12px 0;
    }
    &_deliv {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: #2e2e2e;
        text-transform: uppercase;
    }
    &_cost {
        font-size: 28px;
        font-weight: 400;
        text-align: center;
        color: $main-color;
        padding-bottom: 19px;
    }
    &_descr {
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #2e2e2e;
        padding-bottom: 25px;
    }
    &_button {
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}