.quest {
    min-height: 438px;
    background: url("../img/quest_bg.jpg") center (center/cover) no-repeat;
    .container {
        padding: 62px 0 79px 0;
    }
    .form_wrapper {
        width: 896px;
        margin: 0 auto;
    }
    .title_wrapper {
        padding: 20px 0;
        background-color: #25333c;
    }
    .title {
        font-size: 19px;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 21px;
    }
    .subtitle {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 16px;
    }
    &_form {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.7);
    }
    &_input {
        width: 268px;
        border: solid 1px rgba(0, 0, 0, 0.21);
        border-radius: 45px;
        padding: 18px 0 18px 27px;
        margin: 18px 3px 8px 3px;
        font-size: 13px;
        font-weight: 300;
        color: rgba(16, 16, 16, 0.7);
    }
    &_message {
        width: 822px;
        height: 71px;
        border-radius: 8px;
        border: solid 1px rgba(0, 0, 0, 0.21);
        padding-left: 25px;
        font-size: 13px;
        font-weight: 300;
        color: rgba(16, 16, 16, 0.7);
        margin-bottom: 17px;
    }
    &_button {
        margin-bottom: 25px;
    }
}